@model REW_TATTOO_KORAT.Models.Tattoo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tattoo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tattoo_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tattoo_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tattoo_Pic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tattoo_Pic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tattoo_Type.Type_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tattoo_Type.Type_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tattoo_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
