@model REW_TATTOO_KORAT.Models.Tattoo

@{
    ViewBag.Title = "Create";
}

<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">


        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        @*<ol class="carousel-indicators">
                                <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(img/product-img/pro-big-1.jpg);">
                                </li>
                                <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url(img/product-img/pro-big-2.jpg);">
                                </li>
                                <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url(img/product-img/pro-big-3.jpg);">
                                </li>
                                <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url(img/product-img/pro-big-4.jpg);">
                                </li>
                            </ol>*@
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="~/image/@Html.DisplayFor(model => model.Tattoo_Pic)">
                                    <img class="d-block w-100" src="~/image/@Html.DisplayFor(model => model.Tattoo_Pic)" alt="First slide">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">฿@Html.DisplayFor(model => model.Unit_Price)</p>
                        <a href="product-details.html">
                            <h6>@Html.DisplayFor(model => model.Tattoo_Name)</h6>
                        </a>
                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                        <!-- Avaiable -->
                        <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                    </div>

                    <div class="short_overview my-5">
                        <p>SIZE: @Html.DisplayFor(model => model.Size)</p>
                        <p>TYPE: @Html.DisplayFor(model => model.Tattoo_Type.Type_Name)</p>
                    </div>

                    <!-- Add to Cart Form -->
                    <form class="cart clearfix" method="post">

                        @using (Html.BeginForm("Order", "Create", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <input type="hidden" name="Tattoo_ID" value="@Html.DisplayFor(model => model.Tattoo_ID)" style="width: auto;">

                            <input type="hidden" name="Price" value="@Html.DisplayFor(model => model.Unit_Price)" style="width: auto;">


                            <div class="cart-btn d-flex mb-50">
                                <p>booking date</p>
                                <div class="quantity">
                                    <input type="datetime-local" name="O_Date" style="width: auto;">
                                </div>
                            </div>
                            <button type="submit" class="btn amado-btn">BOOKING</button>
                        }

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Details Area End -->
