@model IEnumerable<REW_TATTOO_KORAT.Models.Tattoo_Type>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Type_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Type_ID })
        </td>
    </tr>
}

</table>
